


<body>






　　<div class="BG_movie">
     <%= video_tag("testmovie.mp4", controls: true, autoplay: true, loop: true) %>
   </div>





<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>


</body>

</html>
<script>

// $('h1').fadeOut(3000);


// 一番上に戻るJQuery
$('#top-btn').click(
     function(){
     $('html,body').scrollTop(0);
   });



</script>
